.proposition-container{
    display:flex;
    width:100%;
    font-size:1.6rem;
    border: 1px solid #56a5eb;
    margin-bottom:1rem;
}
.proposition-prefix{
    color:white;
    background-color:#56a5eb;
    padding:1rem 0;
    text-align:center;
    width:5rem;
}
.proposition-content{
    padding: 1.5rem;
    background-color:white;
    transition:transform 150ms;
   width:100%;
}
.proposition-content:hover{
    box-shadow: 0rem 0.1rem 1.4rem 0.2rem rgba(86,185,235,0.5);
}
#score{
    font-size:5.4rem;
    color:rgb(40,167, 69);
    
}
.correct{
    color:white;
    background-color:rgb(40,167, 69);
}
.incorrect{
    color:white;
    background-color:rgb(220,53, 69);
}
#progress{
    width:35rem;
    height:7rem;
    border:0.1rem solid#01579B;
    margin-bottom:5rem;
}
#progressStatus{
    width:0%;
    background-color:rgb(40,167, 69);
    height:100%;
}
#timing span{
    font-size:5.4rem;
    color:#E53935;
}